.about-me{
    margin: 30rem 0;
    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .about-info{
            h2{
                font-size: 4.8rem;
                color:var(--text-color2);
                font-weight: 300;
            }
            h3{
                font-size: 3.6rem;
                color: var(--text-color4);
                font-weight: 300;
                text-align: right;
                margin-right: -4rem;
                transition: margin-right .5s ease;
                &:hover{
                    margin-right: -7rem;
                }
            }
            p{
                margin-top: 5rem;
                max-width: 40rem;
                color: var(--text-color2);
                font-size: 1.7rem;
                font-weight: 200;
                line-height: 3rem;
            }
            a{
                margin-top: 3rem;
                margin-left: 30rem;
                cursor: pointer;
               
            }
        }
        .about-logo{
            margin-top: -12rem;
        }
       
    }
}

.slidebar{
    width: 100%;
    height: 11.3rem;
    background: var(--main-color);
    display: flex;
    align-items: center;
    overflow: hidden;
    .icons{
        display: flex;
        position: relative;
        justify-content: space-between;
        animation: loop 25s linear infinite;
        transform: translate3d(0, 0, 0);
        i{
            font-size: 7rem;
            color:var(--text-color2);
            margin-right: 10rem;
        }
    }
}

.projects{
    padding-top: 8rem;
    padding-bottom: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, #221F20 -8.33%, #050505 100%);
    
    h2{
        color: var(--text-color1);
        font-size: 4rem;
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 8rem;
    }
    .project-card{
        display: flex;
        align-items: center;
        justify-content: left;

        &:not(:last-child){
            margin-bottom: 15rem;
        }
        .card{
            max-width: 25rem;
            height: 40rem;
            border-radius: 1.5rem;
            filter: drop-shadow(0px 4px 4px #020202);
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .project-info{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: left;
            margin-left: 2.6rem;
            .video-wrapper{
                width: 100%;
                max-width: 31rem;
                height: 18rem;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .info{    
                text-align: left;
                margin-top: 1rem;
                h3{
                    color: var(--text-color2);
                    font-size: 2rem;
                    font-weight: bold;
                }
                p{
                    margin-top: 1rem;
                    color: var(--text-color2);
                    font-size: 2rem;
                    max-width: 42rem;
                }
            }
            .buttons{
                margin-top: 3rem;
                a{
                    padding: 1rem 4rem;
                    font-size: 2rem;
                    font-weight: 500;
                    &:not(:last-child){
                        margin-right: 1.7rem;
                        color: var(--text-color3);
                        background: var(--text-color4);
                    }
                    &:last-child{
                        background-color:var(--background-color);
                        color:var(--text-color2);
                        border: 1px solid var(--text-color1);
                        position: relative;
                        z-index: 2;
                        padding: 1rem 3rem;
                        &::after{
                            content:"";
                            display: block;
                            position: absolute;
                            top:0;
                            left: 0;
                            z-index: -1;
                            background: var(--text-color4);
                            width: 0%;
                            height: 100%;
                            transition: .7s ease;
                        }
                        &:hover{
                            &::after{
                                width: 100%;
                            }
                        }
                    }
                }
               
                
            }
        }
    }
    .side{
        justify-content: right;
        flex-direction: row-reverse;
        .project-info{
            margin-left: 0;
            margin-right: 2.6rem;    
            align-items: flex-end;
            .info{
                text-align: right;
            }
        }
    }
}

.contact{
    margin: 35rem 0;
    .container{
        h2{
            font-size: 4rem;
            color: var(--text-color2);
            font-weight: 300;
        }
        a{
            font-size: 6rem;
            color: var(--text-color4);
            font-weight: 300;
            margin-top: 3rem;
            margin-left: 7rem;
            transition: margin-left .5s ease;
                &:hover{
                    margin-left: 11rem;
                }
        }
    }
}

footer{
    width: 100%;
    height: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        .btn-scroll{
            display: flex;
            align-items: center;
            cursor: pointer;
            img{
                margin-right: 2rem;
            }
            h4{
                color:var(--text-color2);
                font-size: 2rem;
            }
        }
    }
}