:root{

    --main-color: linear-gradient(90deg, #247D7D -8.33%, #12ABCD 100%);
    --background-color: #0A0C10;
    --sidebar-color: #0a0c10b4;
    --text-color1: #247D7D;
    --text-color2:#FFFFFF;
    --text-color3:#0A0C10;
    --text-color4: #12ABCD;
    --font-style: 'Cabin', sans-serif;

}